Условие: дана таблица с колонками (id, name, salary, managerId), необходимо написать код на spark, который создаст эту таблицу (данные указаны ниже) и в результате выдаст таблицу, в которой будут имена сотрудников, которые зарабатывают больше своих менеджеров.

Результат должен быть: Joe (табличка с одной строкой и одним столбцом со значением Joe)

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg, when, max, month, countDistinct
import pandas as pd

In [3]:
data = {'id': [1,2,3,4],
        'Name': ['Joe', 'Henry', 'Sam', 'Max'],
        'Salary': ['70', '80', '60', '90'],
        'ManagerId': ['3', '4', 'Null', 'Null']}
df = pd.DataFrame(data)
df

   id   Name Salary ManagerId
0   1    Joe     70         3
1   2  Henry     80         4
2   3    Sam     60      Null
3   4    Max     90      Null

In [4]:
spark = SparkSession.builder.appName('HW2').getOrCreate()

df = spark.createDataFrame(df)
df.show()

+---+-----+------+---------+
| id| Name|Salary|ManagerId|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     Null|
|  4|  Max|    90|     Null|
+---+-----+------+---------+

In [5]:
df2 = df.filter(col('id') > 2).select(col('id').alias('ManagerId'), col('Name').alias('ManagerName'), col('Salary').alias('ManagerSalary'))
df2.show()

+---------+-----------+-------------+
|ManagerId|ManagerName|ManagerSalary|
+---------+-----------+-------------+
|        3|        Sam|           60|
|        4|        Max|           90|
+---------+-----------+-------------+

In [6]:
df_joined = df.join(df2, on = ['ManagerId'])
df_joined.show()

+---------+---+-----+------+-----------+-------------+
|ManagerId| id| Name|Salary|ManagerName|ManagerSalary|
+---------+---+-----+------+-----------+-------------+
|        3|  1|  Joe|    70|        Sam|           60|
|        4|  2|Henry|    80|        Max|           90|
+---------+---+-----+------+-----------+-------------+

In [7]:
df_joined.filter(df_joined['Salary'] > df_joined['ManagerSalary']).select(df_joined['Name']).show()

+----+
|Name|
+----+
| Joe|
+----+